html, body { font-size: 100%; }
body {
	font-family: Ubuntu, sans-serif;
}

@page {
	size: a4;
	
	@bottom-right {
		content: "Page " counter(page) " of " counter(pages);
		opacity: 0.6;
		font-family: Ubuntu, sans-serif;
	}
}

code {
	font-family: 'Source Code Pro', 'Ubuntu Mono', monospace;
	background: hsl(0, 0%, 80%);
	padding: 0.25em 0.45em;
}

table {
	border-collapse: collapse;
}
table tr:nth-child(even) {
	background: hsl(0, 0%, 90%);
}
table td, table th {
	margin: 0;
	border-spacing: 0;
	padding: 0.25em 0.45em;
	
}

ul, ol {
	margin-left: 0;
	padding-left: 1em;
}

blockquote {
	position: relative;
	margin: 0.5em 0 0.5em 1em;
	padding: 0.5em 0 0.5em 1em;
	
	font-style: italic;
	border-left: 0.2em solid #666;
	background: #eee;
}
blockquote::before {
	content: "Quote";
	position: absolute; top: 0.4em; right: 0.5em;
	color: #aaa;
	font-weight: bold;
	font-style: normal;
	font-size: 0.9em;
	text-align: right;
}